@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Kathmandu<br />
    Lalitpur, Imadol<br />
    <abbr title="Phone">Contact Us:</abbr>
    +977-9841XXXXXX
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">everestsupport@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">everestmarketing@gmail.com</a>
</address>
